:root {
    --dark-theme-color: rgb(48, 46, 46);
  }

.playlist-list{
    text-align: center;
    margin-top: 1rem;
}

.list-div{
    display: inherit;
    margin-left: 1rem;
    margin-right: 1rem;
}

.playlist-center{
    text-align: center;
}
.album-art-playlist{
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}
.side-button{
    height: 3rem;
    margin: .2rem;
}
.list-dark {
    background-color: var(--dark-theme-color) !important;
    color: whitesmoke !important;
 
  }
