.playlist-list{
    text-align: center;
    margin-top: 1rem;
}

.list-div{
    display: inherit;
    margin-left: 1em;
}

.home-center{
    white-space: pre-wrap;
    text-align: center;

}
.album-art{
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 3em;
    height: 3em;
}
.side-button{
    height: 3em;
    margin: .2em;
}
